<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index-style.css' %}">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 4 Main Page</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <h1 class="title">
      NOTES
    </h1>
    <div class = "main">
      {% for i in notes %}
        <div class = "div-div">
          <div class = "button-div">
            <button class="button">{{i.fromm}} --> {{i.to}}</button>
              <div class="dropdown">
                <p>{{i.title}}<br>{{i.message}}</p>
              </div>
              </div>
            </div>
        </div>
      {% endfor %}
    <div class = "add-friend">
        <button type="button" class="add-button" onclick="location.href='add-note'">Add Note</button>
    </div>
    <div class="gfx" id = 'button'>
      <div class="gfx-inner">
         <div class="gfx-front">
          <img src="https://i.imgur.com/s6tJ2n3.gif">
         </div>
        <div class="gfx-back">
          <img src="https://i.imgur.com/s6tJ2n3.gif" class="gfx-back-image">
        </div>
      </div>
    </div>
    <div class = "cat-div">
        <img src = "https://c.tenor.com/Q6O6FN8oaGkAAAAM/dance-party-cat.gif" id = 'dancing-cat' class = "dancing-cat-hidden">
    </div>
    <script>
      const button = document.getElementById("button");
      const cat = document.getElementById("dancing-cat");
      var enabled = false
      button.addEventListener("click", () => {
        if (enabled == false) {
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "gay-mode");
          cat.setAttribute("class","dancing-cat-show")
          enabled = true;
        }
        else{
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "");
          cat.setAttribute("class","dancing-cat-hidden")
          enabled = false;
        }
      });
    </script>
  </body>
</html>

