<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'form-style.css' %}">
  <head>
    <meta charset="UTF-8" />
    <title>Add Notes</title>
  </head>
  {% include "navbar.html" %}
  <body>
    <h1 class="title">
      ADD NOTE
    </h1>
    <form class = "main-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-body">
            <div>
            <label class = "form-title" for="to">To</label><br>
            <input class = "form-input" type="text" id="to" name="to" placeholder="To"><br>
            <label class = "form-title" for="from">From</label><br>
            <input class = "form-input" type="text" id="from" name="fromm" placeholder="From"><br>
            <label class = "form-title" for="title">Title</label><br>
            <input class = "form-input" type="text" id="title" name="title" placeholder="Title"><br>
            <label class = "form-title" for="message">Message</label><br>
            <input class = "form-input" type="text" id="message" name="message" placeholder="Message"><br>
            </div>
        </div>
        <div class = "submit-button">
            <button type="button" class="cancel-button" onclick="history.back()">Cancel</button>
            <input type="submit" class="add-button" value="Submit">
        </div>
    </form>
    <div class="gfx" id = 'button'>
      <div class="gfx-inner">
         <div class="gfx-front">
          <img src="https://i.imgur.com/s6tJ2n3.gif">
         </div>
        <div class="gfx-back">
          <img src="https://i.imgur.com/s6tJ2n3.gif" class="gfx-back-image">
        </div>
      </div>
    </div>
    <div class = "cat-picture">
        <img src = "https://c.tenor.com/Q6O6FN8oaGkAAAAM/dance-party-cat.gif" id = 'dancing-cat' class = "dancing-cat-hidden">
    </div>
    <script>
      const button = document.getElementById("button");
      const cat = document.getElementById("dancing-cat");
      var enabled = false
      button.addEventListener("click", () => {
        if (enabled == false) {
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "gay-mode");
          cat.setAttribute("class","dancing-cat-show")
          enabled = true;
        }
        else{
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "");
          cat.setAttribute("class","dancing-cat-hidden")
          enabled = false;
        }
      });
    </script>
  </body>
</html>
