<!DOCTYPE html>
<html lang="en">
{% load static %}
    <style>
        .navbar{
            display: flex;
            position: relative;
            width: 100%;
            height: 5rem;
            background: darkcyan;
            color: white;
            color: white;
            flex-direction: row;
            font-family: Arial;
            justify-content: left;
            margin-bottom: 2rem;
        }
        .logo{
            width: 200px;
            margin-right: 1rem;
            margin-left: 1rem;
            font-size: 24px;
        }
        .nav-dropdown-group{
            display: flex;

        }
        .nav-dropdown-text{
            margin-right: 1rem;
            margin-left: 1rem;
            margin-top: 2.7rem;
            font-size: 20px;
        }
        .nav-dropdown-contents{
            position: absolute;
            top: 5rem;
            display: flex;
            flex-direction: column;
            height: 0;
            min-width: 4rem;
            margin-left: 1rem;
        }

        .nav-dropdown-button{
            border: none;
            padding: .5rem 1rem;
            text-align: left;
            text-decoration: none;
            display: none;
            font-size: 16px;
            border-radius: 0;
        }
        .nav-dropdown-button:hover{
            background: darkgray;
        }

        .nav-dropdown-hover:hover .nav-dropdown-button{
            display: inline-block;
        }
    </style>
    <body>
        <nav class = "navbar">
            <div class = "logo">
                <h1>
                    RyanPutra
                </h1>
            </div>
            <div class = "nav-dropdown-group">
                <div class = "nav-dropdown-hover">
                    <h5 class="nav-dropdown-text">
                        Lab 1
                    </h5>
                    <div class = "nav-dropdown-contents">
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-1/'"> Main</button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-1/friends'"> Friends List </button>
                    </div>
                </div>
                <div class = "nav-dropdown-hover">
                    <h5 class="nav-dropdown-text">
                        Lab 2
                    </h5>
                    <div class = "nav-dropdown-contents">
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-2/'"> Main</button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-2/xml'"> XML </button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-2/json'"> JSON</button>
                    </div>
                </div>
                <div class = "nav-dropdown-hover">
                    <h5 class="nav-dropdown-text">
                        Lab 3
                    </h5>
                    <div class = "nav-dropdown-contents">
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-3/'"> Main</button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-3/add'"> Add Friend </button>
                    </div>
                </div>
                <div class = "nav-dropdown-hover">
                    <h5 class="nav-dropdown-text">
                        Lab 4
                    </h5>
                    <div class = "nav-dropdown-contents">
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-4/'"> Main</button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-4/add-note'"> Add Note </button>
                        <button class = "nav-dropdown-button" onclick="location.href='http://localhost:8000/lab-4/note-list'"> Notes List</button>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>