input[type=text],input[type=date],input[type=number] {
      width: 30vh;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }


    input[type=submit]:hover {
      background-color: #45a049;
    }

    .form-body{
      border-radius: 5px;
      background-color: #7e3e94;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px ;
      padding-bottom: 40px ;
      width: 30vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: auto;
      margin-left: auto;
    }

    body{
        color: white;
        background: #030303;
    }


    .gfx {
      position: relative;
      background-color: transparent;
      display: block;
      top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      perspective: 1000px;
    }

    .gfx-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .gfx:hover .gfx-inner {
      transform: rotateY(180deg);
      cursor: pointer;
    }

    .gfx-front, .gfx-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .gfx-front {
      background-color: #bbb;
      color: black;
    }

    .gfx-back {
      background-color: #555;
      color: white;
      transform: rotateY(180deg);
    }

    .gfx-back-image{
      transform: scaleX(-1);
    }


    .dancing-cat-hidden{
        width:24rem;
        margin-top:4rem;
        display: none;
    }
    .dancing-cat-show{
        width:24rem;
        margin-top:4rem;
        display: block;
    }
    .gay-mode {
        background: linear-gradient(124deg, #ff2400,#ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ffc0cb, #ffc0cb);
        background-size: 1800% 1800%;
        animation: rainbow 5s ease infinite;
    }

      @keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
    .add-button {
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      font-family: "Comic Sans MS",Arial;
      background: limegreen;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .cancel-button {
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      font-family: "Comic Sans MS",Arial;
      background: #BB2626;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin-right: 4vh;
      cursor: pointer;
    }

    .form-title {
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      font-family: "Comic Sans MS",Arial;
    }
    .form-input{
      width: 20vh;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .title{
        display:flex;
        flex-direction: column;
        align-items:center;
        color: white;
        font-family: 'Comic Sans MS',Arial;
        text-shadow: 4px 4px black
    }
    .main-form{
        display: flex;
        flex-direction: column;
        align-items:center
    }
    .submit-button{
        display: flex; align-items: center; padding-top: 2vh
    }
    .cat-picture{
        display: flex; flex-direction: column; align-items: center; padding-top: 18rem
    }