body {
      background: #030303;
    }


    .gfx {
      position: relative;
      background-color: transparent;
      display: block;
      top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      perspective: 1000px;
    }

    .gfx-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .gfx:hover .gfx-inner {
      transform: rotateY(180deg);
      cursor: pointer;
    }

    .gfx-front, .gfx-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .gfx-front {
      background-color: #bbb;
      color: black;
    }

    .gfx-back {
      background-color: #555;
      color: white;
      transform: rotateY(180deg);
    }

    .gfx-back-image{
      transform: scaleX(-1);
    }


    /* Dropdown Button */
    .button {
      background-color: #7d3d94;
      color: white;
      font-size: 16px;
      width: 30vh;
      min-height: 4vh;
      border: none;
      font-family: "Comic Sans MS",Arial;
    }

    /* The container <div> - needed to position the dropdown content */
    .button-div {
      position: relative;
      display: inline-block;
      font-family: "Comic Sans MS",Arial;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown{
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: #ebebeb;
      width: 30vh;
      height: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: height 0.5s;
    }

    .dropdown p{
      display: block;
      height: 0;
      opacity: 0;
      transition: all 0.25s 0s;
    }


    /* Show the dropdown menu on hover */
    .button-div:hover .dropdown{height:6vh}
    .button-div:hover .dropdown p{opacity: 1; height: 5vh; transition: all 0.25s 0.25s;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .button-div:hover .button {
      background-color: #5d316d;

    }
    .dancing-cat-hidden{
        width:24rem;
        margin-top:4rem;
        display: none;
    }
    .dancing-cat-show{
        width:24rem;
        margin-top:4rem;
        display: block;
    }
    .gay-mode {
        background: linear-gradient(124deg, #ff2400,#ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;
        animation: rainbow 5s ease infinite;
    }

      @keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
    .add-button {
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      font-family: "Comic Sans MS",Arial;
      background: limegreen;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .title{
        display:flex;
        flex-direction: column;
        align-items:center;
        color: white;
        font-family: 'Comic Sans MS',Arial;
        text-shadow: 4px 4px black
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .dropdown p{
        text-align: center;line-height: 1.6;font-weight: bold
    }
    .div-div {
        display: flex;
        justify-content: center;
        position: relative;
        top: 1vh
    }
    .add-friend{
        display: flex; flex-direction: column; align-items: center; padding-top: 5vh
    }
    .cat-div{
        display: flex; flex-direction: column; align-items: center; padding-top: 18rem
    }

    .title-message{
        display: flex; justify-content:center; flex-direction: column; align-items: center; text-align: center;
    }
    .to{
        display: flex; justify-content: right;width: 45%;
    }
    .from{
        display: flex; justify-content: left;width: 45%;
    }
    .card{
        width: 30rem; min-height: 4rem; background: #7d3d94; color: white; margin-bottom: 1rem; font-family: "Comic Sans MS",Arial;
    }
    .card-div{
        display: flex; justify-content:center; height: 2rem
    }