<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    body {
      background: #030303;
    }


    .gfx {
      position: relative;
      background-color: transparent;
      display: block;
      top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      perspective: 1000px;
    }
    
    .gfx-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .gfx:hover .gfx-inner {
      transform: rotateY(180deg);
      cursor: pointer;
    }
    
    .gfx-front, .gfx-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .gfx-front {
      background-color: #bbb;
      color: black;
    }
    
    .gfx-back {
      background-color: #555;
      color: white;
      transform: rotateY(180deg);
    }

    .gfx-back-image{
      transform: scaleX(-1);
    }


    /* Dropdown Button */
    .button {
      background-color: #7d3d94;
      color: white;
      font-size: 16px;
      min-width: 30vh;
      min-height: 4vh;
      border: none;
      font-family: "Comic Sans MS",Arial;
    }

    /* The container <div> - needed to position the dropdown content */
    .button_div {
      position: relative;
      display: inline-block;
      font-family: "Comic Sans MS",Arial;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown{
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: #ebebeb;
      min-width: 30vh;
      height: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: height 0.5s;
    }

    .dropdown p{
      display: block;
      height: 0;
      opacity: 0;
      transition: all 0.25s 0s;
    }


    /* Show the dropdown menu on hover */
    .button_div:hover .dropdown{height:6vh}
    .button_div:hover .dropdown p{opacity: 1; height: 5vh; transition: all 0.25s 0.25s;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .button_div:hover .button {
      background-color: #5d316d;

    }
    .dancing-cat-hidden{
        display: none;
    }
    .dancing-cat-show{
        display: block;
    }
    .gay-mode {
        background: linear-gradient(124deg, #ff2400,#ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;
        animation: rainbow 5s ease infinite;
    }

      @keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
    .add-button {
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      font-family: "Comic Sans MS",Arial;
      background: limegreen;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  <body>
    <h1 class="title" style="display:flex; flex-direction: column; align-items:center;color: white;
    font-family: 'Comic Sans MS',Arial;text-shadow: 4px 4px black">
      MY FRIENDS
    </h1>
    <div class = "main" style="display: flex; flex-direction: column;align-items: center">
      {% for i in friends %}
        <div style = "display: flex; justify-content: center; position: relative; top: 1vh">
          <div class = "button_div">
            <button class="button">{{i.name}}</button>
              <div class="dropdown">
                <p style="text-align: center;line-height: 1.6;font-weight: bold">{{i.npm}}<br>{{i.DOB}} </p>
              </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
    <div class = "add-friend" style="display: flex; flex-direction: column; align-items: center; padding-top: 5vh">
        <button type="button" class="add-button" onclick="location.href='add'">Add Friend</button>
    </div>
    <div class="gfx" id = 'button'>
      <div class="gfx-inner">
         <div class="gfx-front">
          <img src="https://i.imgur.com/s6tJ2n3.gif">
         </div>
        <div class="gfx-back">
          <img src="https://i.imgur.com/s6tJ2n3.gif" class="gfx-back-image">
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; padding-top: 18rem">
        <img src = "https://c.tenor.com/Q6O6FN8oaGkAAAAM/dance-party-cat.gif" id = 'dancing-cat' style="width:24rem;
        margin-top:4rem" class = "dancing-cat-hidden">
    </div>
    <script>
      const button = document.getElementById("button");
      const cat = document.getElementById("dancing-cat");
      var enabled = false
      button.addEventListener("click", () => {
        if (enabled == false) {
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "gay-mode");
          cat.setAttribute("class","dancing-cat-show")
          enabled = true;
        }
        else{
          document
                  .getElementsByTagName("body")[0]
                  .setAttribute("class", "");
          cat.setAttribute("class","dancing-cat-hidden")
          enabled = false;
        }
      });
    </script>
  </body>
</html>
